<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/static/style.css">


</head>
<body>


    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}


    <div class="first-page">    
        <div class="create-user">
            <h1>Register</h1>
            <form action="/create_user" method="POST">
                <label for="fname">First Name:</label><br>
                <input type="text" name="fname"> <br>
                <label for="lname">Last Name:</label><br>
                <input type="text" name="lname"><br>
                <label for="email" >Email:</label><br>
                <input type="text" name="email"><br>
                <label for="password" >Password:</label><br>
                <input type="text" name="password"><br>
                <label for="confirm" >Confirm Password:</label><br>
                <input type="text" name="confirm"><br>
                <input type="submit" value="Register">
            </form> 
        </div>

        <div class="user-login">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <label for="email" >Email:</label><br>
                <input type="text" name="email"><br>
                <label for="password" >Password:</label><br>
                <input type="text" name="password"><br>
                <input type="submit" value="Login">
            </form>
        </div>

</body>
</html>